.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    z-index: 999;
}
.loader__container{
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
