.social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    padding: 20px;
    justify-content: center;
}

.social__link {
    margin: 0 4px;
    text-decoration: none;
    padding: 10px;
    background: var(--dark-gray);
    border-radius: 20px;
    transition: all 0.2s linear;
}

.social__link:hover {
    background: #000000;
}

.social__image {
    width: 20px;
    height: 20px;
}
