.tokensHeader {
  text-align: center;
  margin-bottom: 5px;
}

.tokensContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.pulsating-img-container {
  position: relative;
  display: inline-block;
}

.token__no-image-header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.token__no-image-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.token__no-image-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(255 255 255 / 5%);
  border-radius: 8px;
  align-items: center;
}

.token__no-image-name {
  font-weight: bold;
  font-size: 16px;
}

.token__no-image-address {
  font-family: monospace;
  opacity: 0.7;
  font-size: 14px;
}
