body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  background-color: rgb(25, 33, 52) !important;
  background: -o-linear-gradient( 130deg, #E8FFCE 28%, #ACFADF 75% );
  background: linear-gradient( 320deg, #E8FFCE 28%, #ACFADF 75% );
  color: #1f1d31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input {
  background-color: #1f2639 !important;
  color: #E8FFCE !important;
  border-width: 0px !important;
  height: 96px !important;
  margin-bottom: 5px;
  font-size: 35px;
  border-radius: 12px !important;
  padding: 4px 11px 4px 36px;
  position: relative;
}

.ant-input::placeholder {
  color: #E8FFCE !important;
}

.ant-popover-arrow {
  visibility: hidden;
}

.ant-popover-title {
  color: #E8FFCE !important;
}

.ant-popover-inner-content {
  color: #E8FFCE !important;
}

.ant-popover-inner {
  min-width: 260px !important;
  min-height: 140px !important;
  border: 1px solid #21273a;
  background-color: #0e111b !important;
}

.ant-radio-group {
  margin-top: 10px;
}

.ant-radio-button-wrapper {
  background-color: #1f2639 !important;
  color: #E8FFCE !important;
  font-weight: 500;
  border-color: #E8FFCE !important;
}

.ant-radio-button-wrapper-checked {
  border-color: #E8FFCE !important;
  background-color: #363e54 !important;
}

.ant-radio-button-wrapper-checked::before {
  background-color: #E8FFCE !important;
}

.ant-modal-content {
  background-color: #0e111b !important;
  color: #E8FFCE !important;
  padding: 0px !important;
}

.ant-modal {
  border: 1px solid #E8FFCE;
  width: 350px !important;
  max-width: 100%;
  border-radius: 10px;
  padding-bottom: 0!important;
}

.ant-modal-header {
  background-color: #0e111b !important;
}

.ant-modal-mask {
  background: rgba(255,255,255,0.35)!important;
}

.ant-modal-title {
  color: #E8FFCE !important;
  padding-top: 17px !important;
  margin-left: 20px !important;
}

.ant-modal-body {
  padding-bottom: 6px;
}

.ant-modal-close-icon {
  color: #363e54 !important;
  transition: 0.3s;
}

.ant-modal-close-icon:hover {
  color: #E8FFCE !important;
}
